body {
    background-color: #b8f0f1;
}

h1 {

}

/**
    Table styles
 */

.table, .row, .data {
    border: 1px solid #cac9ca;
    border-collapse: collapse;
}

.table {
    width: 100%;
}

.row {
    display: table-row;
}

.data {
    width: 25px;
    height: 25px;
    padding: 0;
}

.data-selected {
    background-color: #696869;
    color: white;
}

.data-start {
    background-color: #5cc251;
    color: white;
}

.data-end {
    background-color: rgb(250, 72, 72);
    color: white;
}

.data-visited {
    background-color: #2985ff;
    color: white;
}

.data-prev-path {
    background-color: #f9ffab;
    color: white;
}

.data-path {
    background-color: #ecf13b;
    color: white;
}



/**
    Navbar styles
 */

/* Nav containers */
.main-nav {

}

.run-alg-container {

}

.grid-clear-container {

}

.search-clear-container {

}


/* Nav buttons */
.run-alg {

}

.grid-clear {

}

.search-clear {

}



/* Nav elements */
.navbar {
    margin-bottom: 5px;
}

.nav-item {
    margin: 5px;
}
